{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/proposal-decorators", { "legacy": true }],
    "@babel/transform-runtime",
    ["@babel/proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    "@babel/proposal-object-rest-spread",
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "lodash"
    ],
    ["import", { "libraryName": "antd", "style": true }, "antd"],
    ["import", { "libraryName": "antd-mobile", "style": true }, "antd-mobile"]
  ]
}
